.root {
	-fx-background-color: #F9F7F4;
	-fx-text-fill: black;  
}

.label {
	-fx-font-size: 15pt;	 
}

.label.title {
	-fx-font-size: 25pt;
	-fx-font-weight: bold;
}

.label.miniTitle {
	-fx-font-size: 15pt;
	-fx-font-weight: bold;
}

.textArea {
	-fx-font-size: 15pt;	
}

.button {
	-fx-background-color: #F4F1EA;
	-fx-font-size: 15pt;
	-fx-border-radius: 6;
}

.button:pressed {
	-fx-background-color: transparent;
}

.input {
	-fx-font-size: 15pt;
	-fx-font-weight: normal;
	-fx-background-radius: 6;
}

.datePicker {
    -fx-font-size: 19pt;
}