.root {
	-fx-background-color: #F9F7F4;
	-fx-text-fill: black;  
}

.label {
	-fx-font-size: 25pt;
	-fx-font-weight: bold;
}

.button {
	-fx-background-color: #F4F1EA;
	-fx-font-size: 15pt;
	-fx-border-radius: 6;
}

